@use "../abstracts/" as *;

.card {
  display: flex;
  overflow: auto;
  flex-direction: column;
  gap: $card-flow-spacing;
  padding: $card-padding;
  background-color: $card-background-default;
  font-family: $card-font-family;
  color: $card-color-default;
  line-height: $card-line-height;
  box-shadow: $card-shadow;
  border-radius: 10px;
  position: relative;
  
  @include mq(medium) {
    position: static;
    border-radius: $card-border-radius;
    flex-direction: row;
  }

  .left-image {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 3.27 / 2;
    
    @include mq(medium) {
      max-width: 285px;
      max-height: 100%;
    }
  }

  &__heading {
    @include heading($card-heading-font-size, $card-heading-color-default);
    line-height: 1.28;
  }

  &__body {
    padding-block-start: 2.25rem;
    padding-inline: $size-8;

    @include mq(medium) {
      padding-inline: $size-9;
    }
  }
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: $size-8;
  margin-block-start: 1.25rem;
  padding-block-end: 1.25rem;

  @include mq(medium) {
    padding-block-end: 2rem;
    padding-inline: $size-9;
  }

  .showPopup & {
    padding-block-start: 0.75rem;
    padding-block-end: 0.75rem;

    @include mq(medium) {
      padding-block-start: 0;
      padding-block-end: 2rem;
    }
  }

  .author {
    display: flex;
    align-items: center;
    gap: $size-4;
  }
}
