// global color tokens
$-clr-dark-gray-blue: hsl(217, 19%, 35%);
$-clr-dark-blue: hsl(214, 17%, 51%);
$-clr-gray-blue: hsl(212, 23%, 69%);
$-clr-light-gray-blue: hsl(210, 46%, 95%);

$light: (
  "neutral": (
    "100": $-clr-light-gray-blue,
    "400": $-clr-gray-blue,
    "600": $-clr-dark-blue,
    "800": $-clr-dark-gray-blue,
  ),
);

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-400: var(--neutral-400);
$color-neutral-600: var(--neutral-600);
$color-neutral-800: var(--neutral-800);